use Mix.Config

config :conserva, Conserva.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "db_name",
  username: "db_user",
  password: "db_password",
  hostname: "db_host"
config :conserva, ecto_repos: [Conserva.Repo]
config :conserva,
  file_storage_path: "/path/to/file_storage",
  max_file_size: 1_000_000_000,
  converters_dir: "/path/to/dir/with/converters/config" #examples this files stored in dir converters in project dir

config :logger,
  backends: [{LoggerFileBackend, :api},
             {LoggerFileBackend, :converters}]

config :logger, :api,
  path: "/path/to/api.log",
  metadata_filter: [subsystem: :api],
  level: :error

config :logger, :converters,
  path: "/path/to/converters.log",
  metadata_filter: [subsystem: :converters],
  level: :error
